# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.db
.pytest_cache/

# Node
node_modules/
dist/
.vite/
*.tsbuildinfo
frontend/vite.config.d.ts
frontend/vite.config.js

# Env
.env

# Editors
.vscode/
.idea/
.DS_Store
